Instalar Pandas en caso de que no tenga instalada la biblioteca Pandas en su sistema, puede instalarla utilizando el siguiente comando en su terminal o entorno de Python:

In [79]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/statick/.local/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/statick/.local/lib/python3.11/site-packages (from pandas) (2023.2)
Requirement already satisfied: numpy>=1.21.0 in /home/statick/.local/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Importar Pandas y cargar el archivo de Excel
Primero, debemos importar la biblioteca Pandas y cargar el archivo de Excel en un objeto de marco de datos. Puede hacerlo con el siguiente código:

In [80]:
import pandas as pd

# Cargar archivo Excel en un DataFrame de Pandas
df = pd.read_excel("datos.xlsx")

Explorar los datos
Ahora, puede explorar los datos cargados en el objeto de marco de datos utilizando varias funciones de Pandas. Por ejemplo, puede imprimir las primeras filas de datos utilizando la función head():

In [81]:
# Imprimir las primeras 5 filas del DataFrame
print(df.head())

       FECHA  ANIO  MES  CODIGO CLIENTE CANAL  COD_ITEM  \
0 2021-10-08  2021   10         7767359   PDV     50785
1 2022-01-21  2022    1         8522244   PDV     30253
2 2021-12-30  2021   12         7482712   PDV    103961
3 2022-09-15  2022    9         6005545   PDV     92243
4 2022-07-20  2022    7         6627039   PDV      5757

               NOMBRE_PRODUCTO            NOMBRE_CATEGORIA  \
0                 CEPILLOS B&C  IMPLEMENTOS DE CABELLO B&C
1      DELINEADOR OJOS ESSENCE              COSMETICO UÑAS
2                   HANUTA B&C         COLACIONES Y SNACKS
3          PAPAS PRINGLES B&C.                    CONFITES
4  VITAMIN CHOICE ANTIOXIDANTE                 SUPLEMENTOS

  NOMBRE_TIPO_NEGOCIO  COD_LOCAL              NOMBRE_LOCAL NOMBRE_PROVINCIA  \
0                 B&C        791  FYBECA MALL DE LOS ANDES       TUNGURAHUA
1                B&CP         95         FYBECA LOS MANGOS           MANABÍ
2                 B&C       1271  FYBECA SAN LUIS SHOPPING        PICHINCHA
3                 B&C      71840        FYBECA LOS FRESNOS        PICHINCHA
4                 B&C       1901              FYBECA SCALA        PICHINCHA

  NOMBRE_CIUDAD  NÚMERO DE TRANSACCIÓN  VENTA_NETA  MARGEN  CANTIDAD  \
0        AMBATO                3810852           7       2         1
1    PORTOVIEJO                5962659           9       2         1
2         QUITO                3485885          11       2         2
3         QUITO                4209849          18       2         1
4         QUITO                6412586           7       2         1

   COD FORMA DE PAGO
0                  1
1                  1
2                  3
3                  5
4                  5

    Ejercicios
    A continuación, se muestran algunos ejercicios para trabajar con los datos en el objeto de marco de datos:

    Ejercicio 1: ¿Cuántas transacciones se realizaron en total?

In [82]:
# Contar el número de transacciones
num_transacciones = df["NÚMERO DE TRANSACCIÓN"].count()
print("El número total de transacciones es:", num_transacciones)

El número total de transacciones es: 49999

Ejercicio 2: ¿Cuál es el monto total de ventas netas?

In [83]:
# Calcular el monto total de ventas netas
monto_ventas = df["VENTA_NETA"].sum()
print("El monto total de ventas netas es:", monto_ventas)

El monto total de ventas netas es: 624812

In [84]:
# Contar las ventas por nombre de producto
ventas_por_producto = df.groupby("NOMBRE_PRODUCTO")["CANTIDAD"].sum()

# Obtener el nombre del producto más vendido
nombre_producto_mas_vendido = ventas_por_producto.idxmax()

print("El nombre del producto más vendido es:", nombre_producto_mas_vendido)

El nombre del producto más vendido es: EUTIROX.

Ejercicio 4: ¿Cuál es la cantidad total de cada producto vendido?

In [85]:
# Calcular la cantidad total de cada producto vendido
cantidad_por_producto = df.groupby("NOMBRE_PRODUCTO")["CANTIDAD"].sum()

print("Cantidad total de cada producto vendido:")
print(cantidad_por_producto)

Cantidad total de cada producto vendido:
NOMBRE_PRODUCTO
102 VITAMINA C+ZINC         120
ABANIX                      430
ABC DERM JABON LIQUIDO._     10
ABRILAR                     134
ACCES MAQUILLA FREESTYLE     10
                           ...
ZOVIRAX                      10
ZURCAL                      160
ZYRTEC                      300
ZYRTEC-D                    110
ZYRTEC-D.                    71
Name: CANTIDAD, Length: 1987, dtype: int64

    Ejercicio 5: ¿Cuánto margen se obtuvo por provincia?

In [86]:
# Calcular el margen total por provincia
margen_por_provincia = df.groupby("NOMBRE_PROVINCIA")["MARGEN"].sum()

print("Margen total por provincia:")
print(margen_por_provincia)

Margen total por provincia:
NOMBRE_PROVINCIA
AZUAY                              6216
BOLÍVAR                             104
CARCHI                              114
CHIMBORAZO                          979
COTOPAXI                           1244
EL ORO                             2292
ESMERALDAS                         1728
GUAYAS                            33600
IMBABURA                           2464
LOJA                               2084
LOS RÍOS                            325
MANABÍ                             5652
NAPO                                331
ORELLANA                            410
PICHINCHA                         60977
SANTA ELENA                        1422
SANTO DOMINGO DE LOS TSÁCHILAS      990
SUCUMBÍOS                           513
TUNGURAHUA                         2924
Name: MARGEN, dtype: int64

# Agrupar los datos por mes y calcular la suma de las ventas netas y el número de transacciones por mes

In [87]:
ventas_mes = df.groupby("MES").agg({"VENTA_NETA": "sum", "NÚMERO DE TRANSACCIÓN": "count"})

# Renombrar las columnas

In [88]:
ventas_mes = ventas_mes.rename(columns={"VENTA_NETA": "Monto de Ventas", "NÚMERO DE TRANSACCIÓN": "Número de Transacciones"})

# Mostrar la tabla resultante

In [89]:
print(ventas_mes)

     Monto de Ventas  Número de Transacciones
MES
1              72633                     5671
2              69091                     5470
3              66773                     5261
4              41275                     3355
5              46291                     3728
6              37083                     3030
7              50538                     4184
8              41315                     3283
9              46132                     3632
10             45341                     3719
11             52444                     4218
12             55896                     4448

En esta tabla, cada fila representa un mes y las columnas muestran el monto total de ventas netas y el número de transacciones realizadas en ese mes. La función agg() nos permite especificar qué función de agregación queremos aplicar a cada columna, en este caso sum() para el monto de ventas y count() para el número de transacciones. También podemos renombrar las columnas utilizando la función rename().