In [38]:
import pandas as pd

datos = {
    'Provincia': ['Los Rios', 'Manabi', 'Chimborazo', 'Bolivar', 'Napo'],
    'Ciudad': ['Loja', 'Zamora', 'Santa Elena', 'Santa Elena', 'Loja'],
    'Edad': [39, 19, 57, 65, 60],
    'Ingreso': [4747.327188, 2952.323734, 4604.464213, 3712.333082, 2214.344243],
    'Genero': ['Masculino', 'Masculino', 'Masculino', 'Femenino', 'Otro']
}

df = pd.DataFrame(datos)

df.to_csv('datos2.csv', index=False)
df.head()

    Provincia       Ciudad  Edad      Ingreso     Genero
0    Los Rios         Loja    39  4747.327188  Masculino
1      Manabi       Zamora    19  2952.323734  Masculino
2  Chimborazo  Santa Elena    57  4604.464213  Masculino
3     Bolivar  Santa Elena    65  3712.333082   Femenino
4        Napo         Loja    60  2214.344243       Otro

In [39]:
import pandas as pd
import numpy as np

# Generar datos aleatorios
np.random.seed(123)
n = 5
provincias = ['Azuay', 'Guayas', 'Pichincha', 'Manabi', 'Esmeraldas']
ciudades = ['Cuenca', 'Guayaquil', 'Quito', 'Portoviejo', 'Esmeraldas']
edades = np.random.randint(18, 80, n)
ingresos = np.random.normal(loc=5000, scale=1000, size=n)
generos = ['Masculino', 'Femenino', 'Masculino', 'Femenino', 'Otro']

# Crear DataFrame y guardar como CSV
datos = {
    'Provincia': provincias,
    'Ciudad': ciudades,
    'Edad': edades,
    'Ingreso': ingresos,
    'Genero': generos
}
df = pd.DataFrame(datos)
df.to_csv('datos3.csv', index=False)
df.head()

    Provincia      Ciudad  Edad      Ingreso     Genero
0       Azuay      Cuenca    63  4926.486320  Masculino
1      Guayas   Guayaquil    20  6814.032774   Femenino
2   Pichincha       Quito    46  4558.002389  Masculino
3      Manabi  Portoviejo    52  6389.511423   Femenino
4  Esmeraldas  Esmeraldas    56  3922.534666       Otro

In [40]:
import pandas as pd

# Carga y lectura de datos con Pandas
datos2 = pd.read_csv('datos2.csv')
datos3 = pd.read_csv('datos3.csv')

In [41]:
# Conteo de valores únicos en la columna "Genero" para datos2
datos2["Genero"].value_counts()

Masculino    3
Femenino     1
Otro         1
Name: Genero, dtype: int64

In [42]:
# Conteo de valores únicos en la columna "Genero" para datos3
datos3["Genero"].value_counts()

Masculino    2
Femenino     2
Otro         1
Name: Genero, dtype: int64

In [43]:
# Combinación y unión de datos
datos = pd.concat([datos2, datos3])

In [44]:
# Verificar si hay valores nulos
datos.isnull().sum()

Provincia    0
Ciudad       0
Edad         0
Ingreso      0
Genero       0
dtype: int64

In [45]:
media_por_provincia = datos.groupby('Provincia')['Ingreso'].mean()
print(media_por_provincia)

Provincia
Azuay         4926.486320
Bolivar       3712.333082
Chimborazo    4604.464213
Esmeraldas    3922.534666
Guayas        6814.032774
Los Rios      4747.327188
Manabi        4670.917579
Napo          2214.344243
Pichincha     4558.002389
Name: Ingreso, dtype: float64

In [46]:
datos = pd.merge(datos2, datos3, how='outer')

In [47]:
suma_por_ciudad = datos.groupby('Ciudad')['Ingreso'].sum()
print(suma_por_ciudad)

Ciudad
Cuenca         4926.486320
Esmeraldas     3922.534666
Guayaquil      6814.032774
Loja           6961.671431
Portoviejo     6389.511423
Quito          4558.002389
Santa Elena    8316.797295
Zamora         2952.323734
Name: Ingreso, dtype: float64