In [5]:
import pandas as pd
import random

In [6]:
# Lista de provincias de Ecuador
provincias = ['Azuay', 'Bolívar', 'Cañar', 'Carchi', 'Chimborazo', 'Cotopaxi', 'El Oro', 'Esmeraldas', 'Galápagos', 'Guayas', 'Imbabura', 'Loja', 'Los Ríos', 'Manabí', 'Morona Santiago', 'Napo', 'Orellana', 'Pastaza', 'Pichincha', 'Santa Elena', 'Santo Domingo de los Tsáchilas', 'Sucumbíos', 'Tungurahua', 'Zamora Chinchipe']

In [7]:
# Crear una lista de datos aleatorios para cada columna
nombres = ['Juan', 'María', 'Pedro', 'Luisa', 'Miguel', 'Ana', 'Jorge', 'Isabel', 'Francisco', 'Carla']
edades = [random.randint(18, 70) for _ in range(10)]
provincias_random = [random.choice(provincias) for _ in range(10)]
salarios = [random.uniform(500, 5000) for _ in range(10)]

In [8]:
# Crear un diccionario con los datos y convertirlo en un DataFrame de Pandas
datos = {'Nombre': nombres, 'Edad': edades, 'Provincia': provincias_random, 'Salario': salarios}
df = pd.DataFrame(datos)

In [9]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('datos1.csv', index=False)

In [10]:
# Imprimir el DataFrame
print(df)

      Nombre  Edad         Provincia      Salario
0       Juan    62        Chimborazo  4283.541316
1      María    26         Galápagos  2114.388670
2      Pedro    39         Pichincha  3472.741884
3      Luisa    29  Zamora Chinchipe   888.279375
4     Miguel    56          Los Ríos  4805.661329
5        Ana    61            El Oro  1258.168980
6      Jorge    60        Esmeraldas  1001.113840
7     Isabel    51           Pastaza  2375.700690
8  Francisco    39   Morona Santiago  1486.146219
9      Carla    25            Carchi   501.278798

In [11]:
# Cargar el archivo CSV en un DataFrame de Pandas
df = pd.read_csv('datos1.csv')

In [12]:
# Mostrar las primeras filas del DataFrame
print(df.head())

   Nombre  Edad         Provincia      Salario
0    Juan    62        Chimborazo  4283.541316
1   María    26         Galápagos  2114.388670
2   Pedro    39         Pichincha  3472.741884
3   Luisa    29  Zamora Chinchipe   888.279375
4  Miguel    56          Los Ríos  4805.661329

In [13]:
# Mostrar información sobre el DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     10 non-null     object
 1   Edad       10 non-null     int64
 2   Provincia  10 non-null     object
 3   Salario    10 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes
None

In [14]:
# Realizar análisis preliminar de los datos
print(df.describe())

            Edad      Salario
count  10.000000    10.000000
mean   44.800000  2218.702110
std    14.965145  1499.089178
min    25.000000   501.278798
25%    31.500000  1065.377625
50%    45.000000  1800.267445
75%    59.000000  3198.481586
max    62.000000  4805.661329

In [15]:
# Limpieza y preprocesamiento de datos
df = df.dropna() # Eliminar filas con valores faltantes
df = df.drop_duplicates() # Eliminar filas duplicadas

In [16]:
# Transformación y agregación de datos
df['Salario_anual'] = df['Salario'] * 12 # Agregar columna con salario anual
df_por_provincia = df.groupby('Provincia').mean() # Agrupar datos por provincia y calcular la media

/tmp/ipykernel_70420/3040091019.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_por_provincia = df.groupby('Provincia').mean() # Agrupar datos por provincia y calcular la media

In [17]:
# Combinación y unión de datos
df2 = pd.DataFrame({'Provincia': ['Azuay', 'Bolívar', 'Cotopaxi'], 'Población': [1000000, 500000, 800000]})
df_final = pd.merge(df_por_provincia, df2, on='Provincia') # Combinar datos de población por provincia

In [18]:
print(df2)
print(df_final)

  Provincia  Población
0     Azuay    1000000
1   Bolívar     500000
2  Cotopaxi     800000
Empty DataFrame
Columns: [Provincia, Edad, Salario, Salario_anual, Población]
Index: []