Esto es un Ejemplo de un texto

In [5]:

2+2 # Esto es un comentario de media línea

4

"""
Esto es 
un comentario
de más de una línea
"""

In [7]:
2esprimero = "Hola"

SyntaxError: invalid decimal literal (724080329.py, line 1)

In [9]:
from keyword import iskeyword, kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
or = "Hola"

SyntaxError: invalid syntax (3140676214.py, line 1)

In [22]:
nombre_Completo = "Diego Saavedra"
type(nombre_Completo)

str

In [23]:
_name = "Diego"

num1 = 1
num2 = 2
rta = num1 + num2
rta

3

In [26]:
nombre, apellido, teléfono = "Diego", "Saavedra", "+593992018216"
print(nombre, apellido, teléfono)

valorInicial = valorMedio = valorFinal = 20
print(valorInicial, valorMedio, valorFinal)

Diego Saavedra +593992018216
20 20 20

In [30]:
inicio = "Bienvenidos"
final = "al curso de Python en Abacom"

print(inicio + final) #No se recomienda
print(inicio + " " + final) #Se recomienda
print(inicio, final) #Se recomienda

Bienvenidosal curso de Python en Abacom
Bienvenidos al curso de Python en Abacom
Bienvenidos al curso de Python en Abacom

In [33]:
nombre = "Diego"
apellido = 'Saavedra'
print(nombre, apellido)

Diego Saavedra

In [35]:
#`Esto es un string` esto no se utiliza

In [37]:
entero = 12
flotante = 25.12
complejo = 8j
print(entero, flotante, complejo)

12 25.12 8j

In [38]:
esDeNoche = True
esDeDia = False

In [40]:
5 + 8 > 2+9

True

In [42]:
entero = 12
flotante = 25.12
complejo = 8j
print(entero, flotante, complejo)

12 25.12 8j

Listas

In [47]:
lista = []
print(type(lista))
print(lista)
lista = ["Pedro", "diego.saavedra@gmail.com", True, 5, 14.9]
print(lista)
lista = ["Juan", "Sebastian", [True, "blue"], 8]
print(lista)

<class 'list'>
[]
['Pedro', 'diego.saavedra@gmail.com', True, 5, 14.9]
['Juan', 'Sebastian', [True, 'blue'], 8]

In [114]:
lista = ["Maria", "Luis"]
print(lista)
print(lista.index("Luis")) # Me devuelve la posición
print(lista[1]) # Me devuelve el valor

['Maria', 'Luis']
1
Luis

In [57]:
lista = []
print(lista) #Lista vacía.
lista.append(50)
print(lista) #Lista con datos.
lista.append(100)
print(lista)
lista1 =[]
lista1 = lista.copy()
print(lista)
print(lista1)
lista.clear()
print(lista) #Lista vacía
print(lista, lista1)

lista_vocales = ["a","e","e","i","o","u", "e"]
print(lista_vocales.count("e"))
print(len(lista_vocales))

[]
[50]
[50, 100]
[50, 100]
[50, 100]
[]
[] [50, 100]
3
7

In [60]:
lista = [1, 2, 3]
print("Indice 0 =", lista[0])
print("Indice 1 =", lista[1])
print("Indice 2 =", lista[2])
#print("Indice 2 =", lista[3]) este elemento de la lista no existe

Indice 0 = 1
Indice 1 = 2
Indice 2 = 3

In [62]:
lista = ["manzana","pera","banana"]
print(lista)
lista.pop()
print(lista)

['manzana', 'pera', 'banana']
['manzana', 'pera']

In [71]:
lista = ["Juan", "Pedro", "María", "Pedro", "Pedro"]
print(lista)

lista1 = {"Juan", "Pedro", "María", "Pedro", "Pedro"} #Tipo de dato Set
print(lista1)
# lista1.append("Socorro")
# print(lista1)

print(sorted(lista))


lista.remove("Pedro")
print(lista)

# lista.remove("Luis") solo podemos eliminar elementos que se encuentren en una lísta

['Juan', 'Pedro', 'María', 'Pedro', 'Pedro']
{'Pedro', 'María', 'Juan'}
['Juan', 'María', 'Pedro', 'Pedro', 'Pedro']
['Juan', 'María', 'Pedro', 'Pedro']

In [76]:
lista = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
print(lista)

lista.reverse()
print(lista)

lista = ["a", "A"]
lista.reverse()
print(lista)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['A', 'a']

In [82]:
lista = ["q", "w","e","r","t","y","u","i","o","p","ñ","l","k","j","h","g","f","d","s","a","z","x","c","v","b","n","m"]
print(lista)
lista.sort()
print(lista)

['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'ñ', 'l', 'k', 'j', 'h', 'g', 'f', 'd', 's', 'a', 'z', 'x', 'c', 'v', 'b', 'n', 'm']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'ñ']

Tuplas

In [87]:
tupla = ("Hola mundo", "esto", "es", "una", "tupla")
print(tupla)
print(type(tupla))
# tupla.append("Diego") Las túplas no son modificables

('Hola mundo', 'esto', 'es', 'una', 'tupla')
<class 'tuple'>

In [92]:
tupla = ("a","a","b","c","d","e")
print(tupla.count("a"))
print(tupla.index("e"))

2
5

In [98]:
lista = (1, 2, 3, 4, 5, "Diego")
print(lista[5])

Diego

In [101]:
tupla = ("a","a","b","c","d","e")
print(tupla)

lista = list(tupla)
print(lista)

lista.append("f")
print(lista)

lista.remove("f")
print(lista)

('a', 'a', 'b', 'c', 'd', 'e')
['a', 'a', 'b', 'c', 'd', 'e']
['a', 'a', 'b', 'c', 'd', 'e', 'f']
['a', 'a', 'b', 'c', 'd', 'e']

Range

In [104]:
rango = range(1, 100)
print(rango)

range(1, 100)

Diccionarios

In [115]:
diccionario = {
    "nombre":"Juan",
    "trabajo":"electricista",
    "edad":35
}
print(diccionario)
print(type(diccionario))

#Acceder a un valor

print(diccionario["trabajo"])
print(diccionario["edad"])

{'nombre': 'Juan', 'trabajo': 'electricista', 'edad': 35}
<class 'dict'>
electricista
35

In [135]:
diccionario = { 
    "nombre":"Juan",
    "trabajo":"electricista",
    "edad":35,
    "correo": "usuario1@empresa.com"
  }
  
print(diccionario.get("nombre"))
print(diccionario.get("edad"))
diccionario["trabajo"] = "Programador"
print(diccionario)
diccionario["trabajo"]
diccionario["edad"] = 20
diccionario["edad"]
print(diccionario)
print(len(diccionario))
print(diccionario)
diccionario["sexo"]= "Masculino"
print(diccionario)

Juan
35
{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 35, 'correo': 'usuario1@empresa.com'}
{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20, 'correo': 'usuario1@empresa.com'}
4
{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20, 'correo': 'usuario1@empresa.com'}
{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20, 'correo': 'usuario1@empresa.com', 'sexo': 'Masculino'}

In [136]:
diccionario.pop("sexo")
print(diccionario)

#diccionario.pop("edad") no me sirve para un elemento que no se encuentre en la última posición

{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20, 'correo': 'usuario1@empresa.com'}

In [137]:
print(diccionario)
diccionario.popitem() #Elimina el últmo valor que se agregó al diccinario.
print(diccionario)

{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20, 'correo': 'usuario1@empresa.com'}
{'nombre': 'Juan', 'trabajo': 'Programador', 'edad': 20}

In [143]:
diccionario = { 
    "nombre":"Juan",
    "trabajo":"electricista",
    "edad":"35",
    "sexo": "Masculino"
  }
copiaDiccionario = diccionario.copy()
print(copiaDiccionario)

{'nombre': 'Juan', 'trabajo': 'electricista', 'edad': '35', 'sexo': 'Masculino'}

In [144]:
del diccionario["edad"]
print(copiaDiccionario, diccionario)

{'nombre': 'Juan', 'trabajo': 'electricista', 'edad': '35', 'sexo': 'Masculino'} {'nombre': 'Juan', 'trabajo': 'electricista', 'sexo': 'Masculino'}

In [145]:
diccionario.clear()
print(copiaDiccionario, diccionario)

{'nombre': 'Juan', 'trabajo': 'electricista', 'edad': '35', 'sexo': 'Masculino'} {}

In [146]:
diccionario = dict(copiaDiccionario)
print(diccionario)

{'nombre': 'Juan', 'trabajo': 'electricista', 'edad': '35', 'sexo': 'Masculino'}